body{
    background-color: #fcfcfc;
}
.hero{
    width: 100%;
    height: 60vh;
    background: url("./collegea.png") top center;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    z-index: 3;
    display: flex;
    justify-content: center;
}


.one h1{
  font-size: 6rem;
}
.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero img{
    width: 12em;
    height: 10em;
   
}
@media (min-width: 1034px) {
    .hero:after {
      position: absolute;
      content: "";
      width: 40%;
      background: var(--color-secondary);
      top: 0;
      bottom: 0;
    }
  }
  
  .hero:before {
    position: absolute;
    content: "";
    background: rgba(32, 44, 57, 0.5);
    inset: 0;
  }
  
  @media (max-width: 1034px) {
    .hero:before {
      background: rgba(36, 50, 66, 0.5);
    }
  }
  
  .hero .container {
    z-index: 1;
  }
  
  @media (min-width: 1365px) {
    .hero {
      background-attachment: fixed;
    }
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding:25px 20px;
  }
  
  .container .heading{
    font-size: 40px;
    margin-bottom: 20px;
    color:#334;
  }
  .container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:20px;
  }
  
  .container .box-container .box{
    background-color: #fff;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: none;
  }
  
  .container .box-container .box:nth-child(1),
  .container .box-container .box:nth-child(2),
  .container .box-container .box:nth-child(3){
    display: inline-block;
  }
  
  .container .box-container .box .image{
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;
  }
  
  .container .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .container .box-container .box:hover .image img{
    transform: scale(1.1);
  }
  
  .container .box-container .box .content h3{
    font-size: 20px;
    color:#334;
  }
  
  .container .box-container .box .content p{
    font-size: 15px;
    color:#777;
    line-height: 2;
    padding:15px 0;
  }
  
  .container .box-container .box .content .btn{
    display: inline-block;
    padding:10px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
  }
  
  .container .box-container .box .content .btn:hover{
    background-color: crimson;
    border-color: crimson;
    color:#fff;
  }
  
  .container .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top:1px solid #334;
  }
  
  .container .box-container .box .content .icons span{
    font-size: 14px;
    color:#777;
  }
  
  .container .box-container .box .content .icons span i{
    color:crimson;
    padding-right: 5px;
  }
  
  #load-more{
    margin-top: 20px;
    display: inline-block;
    padding:13px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }
  
  #load-more:hover{
    background-color: crimson;
    border-color: crimson;
    color:#fff;
  }
  
  @media (max-width:450px){
  
    .container .heading{
      font-size: 25px;
    }
  
    .container .box-container{
      grid-template-columns: 1fr;
    }
  
    .container .box-container .box .image{
      height: 200px;
    }
  
    .container .box-container .box .content p{
      font-size: 12px;
    }
  
    .container .box-container .box .content .icons span{
      font-size: 12px;
    }
  }
  
 
  .head{
    display: flex;
    flex-direction: column;
    line-height: 10%;
  }
  .head span{
    position:absolute ;
    bottom:8rem;
    color: black;
    font-weight: 900;
    font-family: cursive, opensans-light, sans-serif;;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
  }
  .row1{
    display: flex;
}
.form{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
  .datarows{
    display: flex;
    flex-direction: column;

  }
  .heading{
    text-align: center;
    margin-top: 4rem;

  }
  hr{
    color: black;
  }
  .contain{
    margin-top: 3rem;
  }
  .modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.3);
    animation-name: modalOpen;
    animation-duration: 1s;

}
.closebtn{
    color: #ccc;
    float: right;
    font-size: 30px;

}
.closebtn:hover,.closebtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.count{
    font-size: medium;
}


@keyframes modalOpen {
    from{opacity: 0}
    to {opacity: 1}
    
}
.form{
  width: 100%;
  margin-top: 1rem;
  padding: 0% 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

  
  
  